@font-face
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf");
*
    margin: 0
    padding: 0
    box-sizing: border-box
    position: relative
html, body
    height: 100%
    width: 100%
.noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
#help-button
    width: 40px
    height: 40px
    border-radius: 50%
    position: absolute
    right: 10px
    bottom: 10px
    //border: 2px solid rgb(229,229,229)
    border: none
    box-shadow: 0 0 5px black
    font-size: 1.8em
    line-height: 0.7em
    text-align: center
    text-shadow: 0 0 2px
    background-color: rgb(39,201,63)
    border: 3px solid rgb(19,182,47)
    color:  rgb(10,173,38)

    background-color: rgb(255, 98, 90)
    border: 1px solid rgb(244,19,19)
    color: rgb(244,19,19)
    
    cursor: pointer
    outline: none
    transition: box-shadow 0.3s
#help-button:hover
    //text-decoration: underline
    box-shadow: none
#dummy-text-area
    width: 1px
    height: 1px
    position: absolute
    left: -10px
    top: -10px
#terminal-window
    margin: auto
    top: 10%
    width: 80%
    height: 80%
    background-color: black
    border-radius: 4px
    box-shadow: 0 0 5px rgb(100,100,100)
    overflow: hidden
    #terminal-header
        height: 22px
        background-color: rgb(229,229,229)
        //background-image: linear-gradient(red, yellow)

        color: rgb(78,78,78)
        font-family: sans-serif
        font-size: .8em
        line-height: 1.7em
        text-align: center
        border-radius: 4px 4px 0 0
        .window-button
            width: 12px
            height: 12px
            background-color: rgb(255, 98, 90)
            border: 1px solid rgb(244,19,19)
            position: absolute
            top: 5px
            left: 7px
            border-radius: 6px
            //box-shadow: 0 0 2px black inset
        .window-button:nth-child(2)
            left: 27px
            background-color: rgb(255, 189, 46)
            border: 1px solid rgb(235,162,19)
        .window-button:nth-child(3)
            background-color: rgb(39,201,63)
            border: 1px solid rgb(19,182,47)
            left: 47px
    #terminal-header:before
        background-image: url('../favicon.png')
        content: "___"
        color: transparent
        display: inline-block
        background-size: cover
    #terminal-text
        font-family: Inconsolata, 'Times New Roman', Times, serif
        color: rgb(0, 255, 0)
        outline: 0
        height: calc( 100% - 24px )
        overflow: hidden
        padding: 5px
        white-space: pre-wrap
        overflow: hidden
        word-wrap: normal
        #command-text
            top: 0
            height: 100%
            
