$rgba-primary-0: rgba( 31, 39, 82,1);	// Main Primary color */
$rgba-primary-1: rgba( 85, 92,129,1);
$rgba-primary-2: rgba( 54, 62,101,1);
$rgba-primary-3: rgba( 12, 18, 55,1);
$rgba-primary-4: rgba(  2,  6, 27,1);
    
*
    outline: 1px solid black

header
    overflow: hidden
    transition: all 1.5s ease-in
    padding-bottom: 15px

#hidden-header
    width: 100%
    position: fixed
    top: -75px
    z-index: 1000
    transition: all .25s ease-out
    background-color: white
    h1, h2
        display: inline
    h1
        font-size: 1.2em
    h2
        font-size: 1.1em

#profile-picture
    width: 100%

#main-content
    transition: all .25s ease-out

#studies
    background-image: url('../images/code-seamless.jpg')