@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat-Light.ttf");
}

@-webkit-keyframes right-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right-left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body .background-image {
  z-index: 0;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

body #day-background {
  background-image: url(../img/sunny-day/sky-color.png);
}

body #night-background {
  background-image: url(../img/clear-night/clear-night-background.jpg);
}

#sun-moon-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#sun-moon-container #sun {
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: url(../img/sun.png);
  background-size: contain;
  left: 50%;
  top: 55px;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

#sun-moon-container #moon {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(../img/fullmoon.png);
  background-size: contain;
  left: 50%;
  top: 100px;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

.background .background-inner {
  width: 200%;
  height: 100%;
  position: absolute;
}

.background .background-inner .background-inner-left {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
}

.background .background-inner .background-inner-right {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
}

#sunny-day #sunny-day-background-1 div {
  background-image: url("../img/sunny-day/background-1.png");
  background-size: contain;
}

.information-container #time-container {
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.information-container #time-container #time1, .information-container #time-container #time2 {
  font-family: Montserrat;
  display: inline-block;
  font-size: 48px;
  color: white;
  width: 200px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.information-container #time-container #date1, .information-container #time-container #date2 {
  font-family: Montserrat;
  display: inline-block;
  font-size: 26px;
  color: white;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.information-container #time-container #time-shadow {
  font-family: Montserrat;
  display: inline-block;
  font-size: 48px;
  width: 200px;
  color: transparent;
  text-shadow: 3px 3px 5px black;
}

.information-container #time-container #date-shadow {
  font-family: Montserrat;
  display: inline-block;
  font-size: 26px;
  color: transparent;
  text-shadow: 3px 3px 5px black;
}
/*# sourceMappingURL=index.css.map */