$color-blue-sky: #0CB7F2
    
@font-face
    font-family: 'Montserrat'
    src: url('../font/Montserrat-Light.ttf')

@keyframes right-left
    from
        left: 0
    to
        left: -100%

*
    box-sizing: border-box

html, body
    width: 100%
    height: 100%

body
    background-image: url(../img/sunny-day/sky-color.png)
    background-size: cover

#sun-moon-container
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0 
    z-index: 0
    #sun
        position: absolute
        width: 250px
        height: 250px
        background-image: url(../img/sun.png)
        background-size: contain
        left: 50px
        top: 50px
    #moon
        position: absolute
        width: 100px
        height: 100px
        //background-image: url(../img/fullmoon.png)
        background-size: contain
        right: 100px
        top: 100px

.background
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    overflow: hidden
    .background-inner
        width: 200%
        height: 100%
        position: absolute
        .background-inner-left
            width: 50%
            height: 100%
            position: absolute
            left: 0
        .background-inner-right
            width: 50%
            height: 100%
            position: absolute
            left: 50%

#sunny-day
    #sunny-day-background-1
        //animation: right-left 120s infinite linear
        div
            background-image: url('../img/sunny-day/background-1.png')
            background-size: contain

.information-container
    #time-container
        position: absolute
        bottom: 15px
        left: 30px
        #time
            font-family: Montserrat
            display: inline-block
            font-size: 48px
            color: white
            text-shadow: 3px 3px 5px black
            width: 200px
        #date
            font-family: Montserrat
            display: inline-block
            font-size: 26px
            color: white
            text-shadow: 3px 3px 5px black